$carousel-height: 582px !default;
$carousel-item-height: 388.235px !default;
$carousel-item-width: 300px !default;

@font-face {
  font-family: "Charpentier";
  src: url(../CharpentierRenRed-Normal.otf);
}

.read-poem {
  margin-top:20px
}
.carousel {
  a {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; 
  }
  &.carousel-slider {
    top: 0;
    left: 0;

    .carousel-fixed-item {
      &.with-indicators {
        bottom: 68px;
      }

      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      z-index: 1;
    }

    .carousel-item {
      width: 100%;
      height: 100%;
      min-height: $carousel-height;
      position: absolute;
      top: 0;
      left: 0;

      h2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  overflow: hidden;
  position: relative;
  width: 100%;
  height: $carousel-height;
  perspective: 500px;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;

  .carousel-item {
    visibility: hidden;
    width: $carousel-item-width;
    height: $carousel-item-height;
    position: absolute;
    top: 0;
    left: 0;

    & > img {
      width: 100%;
      object-fit:cover;
      height:100%;
    }
  }

  .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;

    .indicator-item {
      &.active {
        background-color: #62bdfc;
      }

      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 8px;
      width: 8px;
      margin: 24px 4px;
      background-color: rgba(98,198,252,.5);

      transition: background-color .3s;
      border-radius: 50%;
    }
  }

  // Materialbox compatibility
  &.scrolling .carousel-item .materialboxed,
  .carousel-item:not(.active) .materialboxed {
    pointer-events: none;
  }
}

::-webkit-scrollbar {
    // width: 20px;  /* Remove scrollbar space */
}

.mfp-content {
  width: auto !important;
  max-width:95%;
	padding:3.8vw;
	background:white;
	max-height:80%;
	overflow-y:auto;
  overflow-x:hidden;
  background-image: url("../img/paper-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .mfp-content {
    // width:90% !important;
  }
  .poem-title {
    font-size:20px !important;
  }
  .poem {
    // font-size:13px !important;
    // font-size:5%
  }
}

.poem-font {
  // font-family: "Times New Roman"
}

.poem-title {
  font-size:28px;
	font-weight:bold;
	font-style: italic;
}

.poem-publication {
	font-style:italic;
}

.poem {
	white-space:pre;
	text-align:center;
  // font-size:1.2vw;
  font-size:calc(8px + 0.45vw);
}

#selected-poem {
  font-style:italic;
  font-weight:600;
  font-size:22px;
}

.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}